<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391136369347-j70efik97a6o225cre3lien7tupjd51q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391136369347-j70efik97a6o225cre3lien7tupjd51q</string>
	<key>API_KEY</key>
	<string>AIzaSyD3WKPmOcR_tllX30oZfot4dqVqJwDB1uo</string>
	<key>GCM_SENDER_ID</key>
	<string>391136369347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BME-AUT.startUp</string>
	<key>PROJECT_ID</key>
	<string>startup-624b9</string>
	<key>STORAGE_BUCKET</key>
	<string>startup-624b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391136369347:ios:7c9442a405783f791f2076</string>
</dict>
</plist>